################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CppChat/Server/.vs/Server

# 忽略可执行文件
# *.exe

# 忽略编译中间文件
# *.obj
# *.o
# *.lib
# *.dll
# *.exp
# *.log

# 忽略常见生成目录
# /Debug/
# /Release/